@import '../../../../static/styles/colors.module.scss';

.navBarMobile {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	transition: transform .35s ease-in-out;
}

.mobileOpen {
	transform: translateY(0%);
}

.mobileClose {
	transform: translateY(-110%);
}

.loyout {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: $lightGrey;
	opacity: .4;
}

.closeButton {
	position: absolute;
	right: 30px;
	top: 20px;
	font-size: 24px;
	cursor: pointer;
}

.links {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	padding: 50px 0 30px;
	background: $lightGrey;
	-webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
}

.navbarLinksWrapper {
	display: flex;
	flex-direction: column;
	
	& > a {
		padding: 10px 30px;

		&:hover {
			background: $green;
			color: $lightGrey;
		}
	}
}

.navbarOwnData, .authLinks {
	padding: 20px 30px 0;
}

.navbarOwnData {
	display: flex;
	justify-content: space-between;
}