@media all and (max-width: 1000px) {
	.topHeaderWrapper {
		width: 100%;
	}
	
	.navbarPages {
		display: none;
	}

	.container {
		flex-direction: column;
		align-items: space-between;
		width: 100%;
	}

	.navbarOwnData {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
	}

	.cart > svg {
		width: 25px !important;
		height: 25px !important;
	}

	.pageLink {
		padding-bottom: 0;
	}
}