.productsOfTableWrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.productsOfListWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}