@media all and (max-width: 700px) {
	.bookImage {
		width: 25%;
		margin-right: 10px;
	}

	.bookHeadInfo {
		flex-direction: column;
	}

	.bookName {
		width: 100%;
	}
}

@media all and (max-width: 450px) {
	.bookImage {
		width: 40%;
	}

	.bookName {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.sale {
		display: none;
	}

	.buttonsWrapper {
		width: initial;
		justify-content: initial;
	}
}