.carouselOfAnnouncement {
	height: 437px;
	border-radius: 5px;
	overflow: hidden;
	width: 99.8%;
	position: relative;
	left: 1px;

	& > div > div {
		height: 437px;
	}

	& > div > div > ul {
		display: flex;
		margin: 0 0 25px 0 !important;
		position: relative;
		left: 20px;
	}

	& > div > div > div > ul {
		margin-left: -1px !important;
	}
}

@import './media.style.scss';