@import '../../../static/fonts/index.scss';
@import '../../../static/styles/colors.module.scss';

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 52px;
	color: #fff;
	font-family: $lightItalic;
	background: $green;
	width: 350px;
	height: 350px;
	border-radius: 50%;

	&::after {
		content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: $green;
    bottom: -2px;
    transform: rotate(45deg);
    border-radius: 4%;
	}
}

.formContainer {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #fff;
	border-radius: 10px;
	padding: 50px 25px;
	position: relative;
	z-index: 1;
}

.formHeader {
  display: flex;
  justify-content: center;
	margin-bottom: 25px;
	font-family: $bold;
}

.formTitle {
  font-size: 20px;
}

.createAccount {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	& > i {
		transition: transform .25s ease-out;
		margin-left: 5px;
		color: #454554;
	}

	&:hover {
		& > i {
			transform: translateX(7px);
		}
	}
}

.signUp {
  font-family: $bold;
	font-size: 13px;
}

.formFieldsWrapper {
	position: relative;
	max-width: 270px;
	width: 100%;
	margin: 0 auto 20px auto;
}

.formFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inputsWrapper {
	width: 100%;
  margin-bottom: 10px;
}

.formWarning {
	line-height: 1.5;
	text-align: center;
}

.voiteYes {
	padding: 0 15px;
	color: #7552b3;
	font-size: 18px;
	cursor: pointer;
	text-decoration: underline;
}

.inputIcon {
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 0;
	display: flex;
	align-items: center;
}

@import './media.module.scss';